*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0,0,0,0.4)),url('WhatsApp\ Image\ 2024-03-14\ at\ 9.34.18\ AM.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    color: rgb(0, 0, 0);
    width: 100%;
    height: 30px;
}
.form-box{
    width: 80%;
    max-width: 450px;
    min-width: 350px;
    background: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: -2px 2px 15px rgba(0,0,0,0.5);
    background-image: linear-gradient();

}  
.form-box h1{
    font-size: 35px;
    height: 69px;
    color: rgb(0, 0, 0);
}
.google_element{
    width: 100px;
    height: 69%;
    background: rgb(255, 255, 255);
}
.form-box .underline{
    width: 50px;
    height: 4px;
    background-color: green;
    margin: 10px auto 50px auto;
    border-radius: 5px;

}
.input-field{
    background: hsl(0, 0%, 89%)#eaeaea;
    margin: 5px;
    border-radius: 10px;
    align-items: center;

}